* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1a202c;
  color: #f3f3f3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form {
  width: 500px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.input-place {
  margin-bottom: 10px;
}

input:not([type="checkbox"]),
select {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
}

input::placeholder {
  color: lightgray;
}

input:focus {
  border-color: lightblue;
}

button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.input-error {
  border-color: #fc8181;
}

.error {
  color: #fc8181;
  font-size: 12px;
  text-align: left;
}

.form-link {
  color: white;
}